/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#toolbox {
    left: 16px;
    top: 80px;
    position: absolute;
}
#add {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
    border: none;
    outline:none;
}

#add:hover {
    background-color: black;
}

#detail {
    width: 250px;
    height: 160px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 46px;
}