<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <style>
      #map {
        height: 100%;
        width: 100%;
        float: right;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #app {
        height: 100%;
      }

      #sidebar {
        position: absolute;
      }

      #testText {
        font-size: 14px;
        font-family: FolioStd-ExtraBold;
      }

      #testTextDiv {
        width: auto;
        position: absolute;
      }

      #sidebar {
        position: absolute;
        padding-top: 100px;
        padding-left: 10px;
      }

      .markerControl {
        width: 300px;
        height: 40px;
        border-radius: 8px 0px 0px 8px;
        background-color: white;
        margin: 10px 0px 10px 10px;
        padding: 10px;
        float: left;
        position: relative;
      }

      .markerControl input {
        font-family: "Roboto", sans-serif;
        outline: none;
        font-size: 16px;
        top: 32%;
        left: 20px;
        width: 280px;
        border: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .markerControl::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        border-left: 1px solid #ddd;
        height: 40px;
      }
      .markerControlEnd {
        height: 40px;
        background-color: white;
        float: right;
        margin: 10px 10px 10px 0px;
        padding: 10px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
      }

      .markerControlX {
        height: 24px;
        width: 24px;
        background-image: url("../images/clear-1x-20150504.png");
        float: right;
        margin: 8px;
        border-radius: 0px 8px 8px 0px;
      }

      @font-face {
        font-family: "FolioStd-ExtraBold";
        src: url("../fonts/FolioStd-ExtraBold.otf");
      }
    </style>
  </head>

  <body>
    <div id="app" style="height:100%">
      <div id="behind">
        <div id="testTextDiv">
          <p id="testText"></p>
        </div>
      </div>
      <div id="map"></div>
      <div id="sidebar">
        <div v-for="marker in markers">
          <div class="markerControl">
            <input v-model="marker.label.text" />
          </div>
          <div class="markerControlEnd" @click="deleteMarker(marker.id)">
            <div class="markerControlX"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="placemarker.js"></script>
    <script src="../mapStyle.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZbfz78B60FvozSyCvKVSSElNOFoks2c&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
