html, body {
    padding: 0;
    margin: 0;
}

.container-left {
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%
}

.container-right {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    line-height:18pt;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.container-right > div {
    padding: 12pt;
}