/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#dropzone {
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border: 6px dashed #9E9E9E;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}
.highlight {
    display: block !important
}
#help{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    width: 42px;
    height: 42px;
    right: 8px;
    bottom: 280px;
    position: absolute;
    background-image: url('../images/help-icon.png');    
}